<!DOCTYPE html>
<html>
    <head>
        <title>CSI 4480 Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css')}}">
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>Hello!</p>
        <!-- Fields for Cloning -->
    <div>
        <div>
        <form action="{{ url_for('clone') }}" method="post">
            
            <input type="hidden" name="decision" id="decision" value="clone">

            <p>Create your clone here! Enter the name of the clone and the relevant path to the training data.</p>
            <div id="clone-fields">
                <label for="clonename">Clone Name:</label>
                <input type="text" id="clonename" name="clonename">

                <label for="pathtofolder">Path to training data folder:</label>
                <input type="text" id="pathtofolder" name="pathtofolder">
            </div>
            <button type="submit">Create Clone</button>
        </form>
    </div>
    <div>
            <!-- Fields for Deleting -->
            <form action="{{ url_for('clone')}}" method="post">
                <input type="hidden" name="decision" id="decision" value="delete">
            <p>Delete your voice here! It is permenant</p>
            <div id="delete-fields">
                <label for="dropdown">Select Voice to Delete:</label>
                <select id="dropdown" name="dropdown">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Delete Clone</button>
            </div>
            </form>
    </div>
    <div>
        

    </div>
</div>

            
        


    </body>
</html>
