<!DOCTYPE html>
<html>
    <head>
        <title>CSI 4480 Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css')}}">
    </head>
    <header>
        <h1>Welcome!</h1>
        <div>
            <ul id="nav_bar">
            <li class ="nav_button">
            <form action="{{url_for('process')}}" method="post">
                <input type="hidden" id="destination" name="destination" value="home">
                <button type="submit" class="url-button">Home</button>
            </form>
        </li>
        <li class ="nav_button"> 
            <form action="{{url_for('process')}}" method="post">
                <input type="hidden" id="destination" name="destination" value="generate">
                <button type="submit" class="url-button">Generate</button>
            </form>
        </li>
        <li class ="nav_button">
            <form action="{{url_for('process')}}" method="post">
                <input type="hidden" id="destination" name="destination" value="compare">
                <button type="submit" class="url-button">Compare</button>
            </form>
        </li>
        <li class ="nav_button">
            <form action="{{url_for('process')}}" method="post">
                <input type="hidden" id="destination" name="destination" value="clone">
                <button type="submit" class="url-button">Clone</button>
            </form>
        </li>
            </ul>
            <input type="hidden" id="key_field" name="key_field" value="">
        </div>
    </header>
    <body>
        <!-- Fields for Cloning -->
        <article>
    <div>
        <div>
        <form action="{{ url_for('clone') }}" method="post">
            
            <input type="hidden" name="decision" id="decision" value="clone">

            <p>Create your clone here! Enter the name of the clone and the <span class="bold-text">relative</span> path to the training data.</p>
            <p>This may take a while...</p>
            <div id="clone-fields">
                <label for="clonename">Clone Name:</label>
                <input type="text" id="clonename" name="clonename">

                <label for="pathtofolder">Path to training data folder:</label>
                <input type="text" id="pathtofolder" name="pathtofolder">
            </div>
            <button type="submit">Create Clone</button>
        </form>
    </div>
    <div>
            <!-- Fields for Deleting -->
            <form action="{{ url_for('clone')}}" method="post">
                <input type="hidden" name="decision" id="decision" value="delete">
            <p>Delete your voice here! It is permenant</p>
            <div id="delete-fields">
                <label for="dropdown">Select Voice to Delete:</label>
                <select id="dropdown" name="dropdown">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Delete Clone</button>
            </div>
            </form>
    </div>
    <div>
        {% if createcloneflag or deletecloneflag or errorflag %}

        {% if createcloneflag %}
        <p>Created clone successfully! Name: {{name}}</p>
        {% endif %}
        
        {% if deletecloneflag %}
        <p>Deleted Clone. Goodbye {{name}}!</p>
        {% endif %}
        {% else %}
        <p>Your Results will appear here:</p>
        {% endif %}

        {% if errorflag %}
        <h3>An error has occured</h3>
        <p>Error: {{errormessage}}</p>
        {% endif %}

    </div>
</div>
</article>
            
        


    </body>
</html>
