<!DOCTYPE html>
<html>
    <head>
        <title>CSI 4480 Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css')}}">
    </head>
    <body>
        <h1>Welcome!</h1>

        <form action="{{url_for('process')}}" method="post">
            <p>Hello and welcome to the AI mimicry project for CSI 4480!</p>
            <p>This project focuses on how easy it is to replicate a voice using the right tools, and to prove how good of a job this replication is.</p>
            <p>First things first, please enter your API Key. If your key is already set in the code by setting a json file as "APIKEY" : [Your Key] and naming your file APIKey.json file, ignore this step</p>
            <label for="input_field">Enter Key:</label>
            <input type="text" id="key_field" name="key_field">
            <input type="hidden" id="destination" name="destination" value="generate">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>