<!DOCTYPE html>
<html>
    <head>
        <title>CSI 4480 Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css')}}">
    </head>
    <body>
        <h1>Welcome!</h1>
        <div><form action="{{url_for('process')}}" method="post">
            <input type="hidden" id="destination" name="destination" value="generate">
            <button type="submit" class="url-button">Generate</button>
            <input type="hidden" id="key_field" name="key_field" value="">
        </form> </div>
        
            <p>Hello and welcome to the AI mimicry project for CSI 4480!</p>
            <p>This project focuses on how easy it is to replicate a voice using the right tools, and to prove how good of a job this replication is.</p>
            <p>First things first, please enter your API Key. If your key is already set in the code by setting a json file as "APIKEY" : [Your Key] and naming your file APIKey.json file, ignore this step</p>
            <label for="input_field">Enter Key:</label>
            <input type="text" id="our_key_field" name=our_key_field">
            <p>Once your APIKey is set, click on any button in the url banner to begin!</p>

            <script>
            document.addEventListener('DOMContentLoaded', function(){//when everything on the html is loaded, execution this function
                const keyInput = document.getElementById('our_key_field');//gets the our_key_field from html so we can interact/modify it in Javascript
                const keyFields = document.querySelectorAll('input[name="key_field"]');//gets all the inputs elements that have the name "key_field"

                keyInput.addEventListener('input', function(){//whenever a change happens in our_field_happens, execute this function
                    const inputValue = keyInput.value;//takes the value in our_key_field

                    keyFields.forEach(function (keyField){//and make all the values with the name key_field = to the value in our_key_field
                        keyField.value = inputValue;
                    });//we do this so we can spread the value of one_key_field to multiple forms. There is one form for each button.
                });
            });
            </script>
    </body>
</html>